* {
    margin: 0;
    padding: 0;
  }

nav {
    background: rgb(29, 27, 30);
    width: 100%;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

a {
    font-family: "Courier New";
    font-size: 40px;
    color: rgb(75, 255, 66);
    height: 100%;
    width: 200px;
    padding: 0 40;
}

a:hover {
    background: rgba(29, 27, 30, 0.75)
}

a:visited {
    color: rgb(75, 255, 66);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Source Sans Pro", 'Courier New', Courier, monospace;
}

h1 {
    text-align: left;
    font-family: "Source Sans Pro", 'Courier New', Courier, monospace;
    font-weight: normal;
    color: rgb(50,50,100);
}



